.footer{
    background: white !important;
}
.footer__social{
    box-sizing: border-box;
    padding: 2rem;
}
.footer__social a{
    color: var(--text);
}
.contact__content-text{
    line-height: 1;
}