.download{padding: 5rem 1rem;}

.how__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}
.how__card{
    max-width: 350px;
}
.how__card img{
    max-width: 200px;
}
.how__card p{
    font-weight: bold;
}
@media only screen and (max-width: 768px){
    .how__cards{
        max-width: 300px;
        align-items: flex-start;
    }
    .how__card img{
        max-width: 150px;
    }
    .how__card p{
        font-size: .9rem;
        /* font-weight: normal; */
    }
}
@media only screen and (max-width: 480px) {
    .how__cards{
        flex-direction: column;
    }
    .how__card{
        max-width: 250px;
    }
    .how__card img{
        max-width: 100px;
    }
}